@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>


    .rounded-image {
        border-radius: 20%;
        margin: 20px; /* Adjust the margin value as needed */
    }

    .repositories-container {
        display: flex;
        flex-wrap: wrap;
    }

    .repository-item {
        flex: 0 0 calc(33.33% - 10px);
        border: 1px dashed #ccc;
        background-color: #f9f9f9;
    }

        .repository-item a {
            text-decoration: none;
            color: #0366d6;
            display: block;
            padding: 10px;
            transition: background-color 0.2s;
        }

            .repository-item a:hover {
                background-color: #0366d6;
                color: #fff;
            }

            .repository-item a:active {
                background-color: #003ea3;
            }

    #all-repositories-link {
        flex: 0 0 calc(33.33% - 10px);
        text-decoration: none;
        color: #0366d6;
        background-color: #f9f9f9;
        padding: 10px;
        border: 1px solid #ccc;
        transition: background-color 0.2s;
    }

        #all-repositories-link:hover {
            background-color: #0366d6;
            color: #fff;
        }

        #all-repositories-link:active {
            background-color: #003ea3;
        }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <!-- Projects Section-->
        <section class="py-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!--Project card 1-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-5">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">
                                        <a href="https://www.etsy.com/listing/1520701222/linkedin-automatic-job-applier?ref=listings_manager_grid" target="_blank"> Linkedin Job Finder<a/>

                                    </h2>
                                    <p>
                                        It is an automated LinkedIn Job Finder which helps you to apply right jobs and get an interview as soon as possible.
                                    </p>
                                </div>
                                <a href="https://www.etsy.com/listing/1520701222/linkedin-automatic-job-applier?ref=listings_manager_grid" target="_blank"> <img class="img-fluid rounded-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/240px-LinkedIn_logo_initials.png" alt="..." /></a>
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-5">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">
                                        <a href="https://play.google.com/store/apps/details?id=com.planecrashes.sarac.listviewdata" target="_blank">Plane Crashes : Information</a>
                                    </h2>
                                    <p>
                                        This application objectives to provide information and hear about recent plane crashes, pictures and statistics.
                                    </p>
                                </div>
                                <a href="https://play.google.com/store/apps/details?id=com.planecrashes.sarac.listviewdata" target="_blank"> <img class="img-fluid rounded-image" src="https://play-lh.googleusercontent.com/9B-DiD__vmYTP_wW7ACGcR7IB7XqP5tcM_LCnm8A3LaGG5byfT2hcECHyORyNkXSrzE=w240-h480-rw" alt="..." /></a>
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 3-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-5">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">
                                        <a href="https://play.google.com/store/apps/details?id=com.saracapps" target="_blank"> Beyaz Futbol Sticker</a>

                                    </h2>
                                    <p>
                                        Application allows the whatsapp users to send one of the most famous Turkish football tv shows' stickers.
                                    </p>
                                </div>
                                <a href="https://play.google.com/store/apps/details?id=com.saracapps" target="_blank"> <img class="img-fluid rounded-image" src="https://play-lh.googleusercontent.com/eOGR3A2QCq7Llu3R4gO_WxGetovKdLONPY9x_-cpJk9lkrw-9l4ch6ioDkscXKgczg=w240-h480-rw" alt="..." /></a>
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 4-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-5">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">
                                        <a href="https://play.google.com/store/apps/details?id=com.saracapps.turkcesticker" target="_blank"> Anime Sticker</a>

                                    </h2>
                                    <p>
                                        It is a sticker application for Whatsapp which contains Turkish characters and famous people
                                    </p>
                                </div>
                                <a href="https://play.google.com/store/apps/details?id=com.saracapps.turkcesticker" target="_blank"> <img class="img-fluid rounded-image" src="https://play-lh.googleusercontent.com/lZqQo4tCcbMB20lFxsGjA4QYc_S1oQUpGKkapsUG8TahiWHBmtln-RNcXE5eyAJ5FSA=w240-h480" alt="..." /></a>
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 5-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-5">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">
                                        <a href="https://play.google.com/store/apps/details?id=com.saracapps.stickeranime" target="_blank">Anime Sticker </a>

                                    </h2>
                                    <p>
                                        People can share famous Anime Character's stickers with their friends on Whatsapp
                                    </p>
                                </div>
                                <a href="https://play.google.com/store/apps/details?id=com.saracapps.stickeranime" target="_blank"> <img class="img-fluid rounded-image" src="https://play-lh.googleusercontent.com/3OVb3B4VCxlZ_tJNommHNRYfY_uXRrurhyQ-JsZCr4lfS9WGKCWnRMsd4lrnVi0dCQ=w240-h480-rw" alt="..." /></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="container px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">My GitHub Repositories</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Project Card 1-->
                        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">

                                    <div class="p-5">

                                        <div class="repositories-container" id="repositories-container"></div>
                                        <div class="repositories-container">
                                            <a style="background-color:greenyellow" target="_blank" id="all-repositories-link">All Repositories</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container px-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Contributions</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">

                        <!-- Project Card 2-->
                        <div class="card overflow-hidden shadow rounded-4 border-0">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center">
                                    <div class="p-5">
                                        <a href="https://github.com/alpersarac" target="_blank"><img src="https://ghchart.rshah.org/alpersarac" alt="2016rshah's Github chart" /></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action section-->
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
            <div class="container px-5 my-5">
                <div class="text-center">
                    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="https://www.linkedin.com/in/alpersarac/" target="_blank">Contact me</a>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <script src="js/Repo.js"></script>
</body>
</html>
